{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <form action="/" method="POST">
        <div id="clase">
            <label>Clase :</label>
            <select id="clase" onchange="setForm(this.value)">
                <option disabled selected value> -- select an option -- </option>
                <option value="mamifero">mamifero</option>
                <option value="aves">aves</option>
            </select>
        </div>

            <div id="mamifero" style="display: none">
                <label>Mamifero :</label>
                <select id="subclase" onchange="setForm(this.value)">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="theria">Theria</option>
                </select>
            </div>

                <div id="theria" style="display: none">
                    <label>Theria :</label>
                    <select id="infraclase" onchange="setForm(this.value)">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="metatheria">Metatheria</option>
                        <option value="eutheria">Eutheria</option>
                    </select>
                </div>
            
                <div id="metatheria" style="display: none">
                    <label>Metatheria :</label>
                    <select id="orden" onchange="setForm(this.value)">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="didelphimorphia">Didelphimorphia</option>
                        <option value="paucituberculata">Paucituberculata</option>
                        <option value="microbiotheria">Microbiotheria</option>
                        <option value="dasyuromorphia">Dasyuromorphia</option>
                        <option value="peramelemorphia">Peramelemorphia</option>
                        <option value="notoryctemorphia">Notoryctemorphia</option>
                        <option value="diprotodontia">Diprotodontia</option>
                    </select>
                </div>

                <div id="eutheria" style="display: none">
                    <label>Eutheria :</label>
                    <select id="infraclase" onchange="setForm(this.value)">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="Pilosa">Pilosa</option>
                        <option value="Cingulata">Cingulata</option>
                        <option value="Afrosoricida">Afrosoricida</option>
                        <option value="Erinaceomorpha">Erinaceomorpha</option>
                        <option value="Soricomorpha">Soricomorpha</option>
                        <option value="Scandentia">Scandentia</option>
                        <option value="Dermoptera">Dermoptera</option>
                        <option value="Chiroptera">Chiroptera</option>
                        <option value="Primates">Primates</option>
                        <option value="Carnivora">Carnivora</option>
                        <option value="Sirenia">Sirenia</option>
                        <option value="Proboscidea">Proboscidea</option>
                        <option value="Perissodactyla">Perissodactyla</option>
                        <option value="Hyracoidea">Hyracoidea</option>
                        <option value="Tubulidentata">Tubulidentata</option>
                        <option value="Artiodactyla">Artiodactyla</option>
                        <option value="Pholidota">Pholidota</option>
                        <option value="Rodentia">Rodentia</option>
                        <option value="Lagomorpha">Lagomorpha</option>
                        <option value="Macroscelidea">Macroscelidea</option>
                    </select>
                </div>

            <div id="aves" style="display: none">
                <label>Aves :</label>
                <select id="superorden" onchange="setForm(this.value)">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="paleognathae">Paleognathae</option>
                    <option value="neognathae">Neognathae</option>
                </select>
            </div>
                <div id="paleognathae" style="display: none">
                    <label>Paleognathae :</label>
                    <select id="orden" onchange="setForm(this.value)">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="Struthioniformes">Struthioniformes</option>
                        <option value="Tinamiformes">Tinamiformes</option>
                    </select>
                </div>
                <div id="neognathae" style="display: none">
                    <label>Neognathae :</label>
                    <select id="orden" onchange="setForm(this.value)">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="Neognathae">Anseriformes</option>
                        <option value="Neognathae">Galliformes</option>
                        <option value="Neognathae">Gaviiformes</option>
                        <option value="Neognathae">Podicipediformes</option>
                        <option value="Neognathae">Sphenisciformes</option>
                        <option value="Neognathae">Procellariiformes</option>
                        <option value="Neognathae">Pelecaniformes</option>
                        <option value="Neognathae">Ciconiiformes</option>
                        <option value="Neognathae">Phoenicopteriformes</option>
                        <option value="Neognathae">Falconiformes</option>
                        <option value="Neognathae">Turniciformes</option>
                        <option value="Neognathae">Gruiformes</option>
                        <option value="Neognathae">Mesitornithiformes</option>
                        <option value="Neognathae">Charadriiformes</option>
                        <option value="Neognathae">Pteroclidiformes</option>
                        <option value="Neognathae">Columbiformes</option>
                        <option value="Neognathae">Psittaciformes</option>
                        <option value="Neognathae">Opisthocomiformes</option>
                        <option value="Neognathae">Musphagiformes</option>
                        <option value="Neognathae">Cuculiformes</option>
                        <option value="Neognathae">Strigiformes</option>
                        <option value="Neognathae">Caprimulgiformes</option>
                        <option value="Neognathae">Apodiformes</option>
                        <option value="Neognathae">Coliiformes</option>
                        <option value="Neognathae">Trogoniformes</option>
                        <option value="Neognathae">Upupiformes</option>
                        <option value="Neognathae">Coraciiformes</option>
                        <option value="Neognathae">Galbuliformes</option>
                    </select>
                </div>
    </form>
</div>
{% endblock %}